﻿/*! fxTrEx - v0.5.4 Beta - 31/01/2015 
* Transfer Effect Extension for Jquery UI
* Copyright 2015 tungsteno74@yahoo.it (alias Tungsteno); Licensed MIT */

/* no outline on focuses elements*/
*:focus {
    outline: 0;
}

/*animate the transfer effect*/
.ui-effects-transfer {
    margin-top: 1px;
}
